* {
    font-family: sans-serif;
}

header {
    background-color: #6536F7;
    margin-top: 70px;
    border-radius: 5px;
    display: flex;
    padding: 10px;
   
    font-size: large;
}

#flash-message {
    background-color: #ffffcc;
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 10px;
}

.top-container {

    padding: 10px;
    border-radius: 20px;
}

.hello {
    margin-bottom: 20px;
}

.welcome {
    color: #6536F7;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

main {
    background-color: #6536F7;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
}

a {
    text-decoration: none;
    color: #000000;
}



.button {
    background-color: #ffffff;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 50PX;
    margin-bottom: 70px;
    margin-left: 7px;
    margin-right: 7px;
    min-width: 22rem;
}

.button-connect {
    background-color: #ffffff;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 7px;
    margin-right: 7px;
    min-width: 22rem;
}

.button:hover {
    box-shadow: #fff;

}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.claim {
    position: absolute;
    font-size: small;
    display: flex;
    margin-bottom: 50px;
}

.contact {
    color: rgb(85, 205, 226);
    font-weight: bold;
    font-size: large;
    margin-bottom: 50px;
    padding: 10px;
}